<div class="container">
	<div class="row">
		<div class="col-md-3" >
			<form action="/create" id="burger-input">
				<h3>BURGER NAME: </h3> <input type="" name="burger_name"><br><br>
				<h4>BUN: </h4>
				<input value="White" name="bun" type="radio"> White <br>
				<input value="WholeWheat" name="bun" type="radio"> Whole Wheat <br>
				<input value="GlutenFree" name="bun"  type="radio"> Gluten Free <br>
				<input value="None" name="bun" type="radio"> None <br>

				<h4> PATTY: </h4>
				<input value="Beef" name="patty" type="radio"> Beef <br>
				<input value="Turkey"name="patty"  type="radio"> Turkey <br>
				<input value="Veggie" name="patty" type="radio"> Veggie <br>
				<input value="None" name="patty" type="radio"> None <br>

				<h4> CHEESE: </h4>
				<input value="American" name="cheese" type="radio"> American <br>
				<input value="Cheddar" name="cheese" type="radio"> Cheddar <br>
				<input value="Swiss" name="cheese" type="radio"> Swiss <br>
				<input value="None" name="cheese" type="radio"> None <br>

				<h4> TOPPINGS: </h4>
				<input name="Tomato" type="checkbox"> Tomato <br>
				<input name="Lettuce" type="checkbox"> Lettuce <br>
				<input name="Onions" type="checkbox"> Onions <br>
				<input name="Bacon" type="checkbox"> Bacon <br>
				<input name="Mushrooms" type="checkbox"> Mushrooms <br>

				<h4> CONDIMENTS: </h4>
				<input name="Ketchup" type="checkbox"> Ketchup <br>
				<input name="Mustard" type="checkbox"> Mustard <br>
				<input name="Mayo" type="checkbox"> Mayo <br>
				<input name="SecretSauce" type="checkbox"> Secret Sauce <br>
				<h4>SPECIAL INSTRUCTIONS: </h4> <input type="" name="burger_name"><br><br>

  				<input type="submit" class= "btn btn-lg btn-danger" value="BUILD">			




			</form>
		</div>

		<div class="col-md-9">
			<div class="row">
				<div class="col-md-12" id="title">
					<h1> HTML5 GUYS </h1>
					<h2> Burgers &amp; Fries</h2>
				</div>
			</div>
			<div class="row" id="avail">
				<br><br>

				<h3> AVAILABLE BURGERS </h3>
					{{#each burgers}}
					<div class="col-md-2">
						<h4>{{burger_name}}</h4>
						<form action="/devour?_method=PUT" method="POST">
		  				
		  					<input type="submit" class= "btn btn-success" value="DEVOUR">
						</form>		
						<br>
					</div>
					{{/each}}

				</div>
			<div class="row" id="eaten">
				<h3>DEVOURED BURGERS</h3>

				{{#each devoured}}
				<div class="col-md-2">
					<h4>{{burger_name}}</h4>	
					<br>
				</div>
				{{/each}}
			</div>
			</div>
		</div>

	</div>
